body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.my-navbar{
    background-color: darkred;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
.title-navbar{
    color: darkorange;
    font-size: 24px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.item-navbar{
    color: darkorange;
    font-size: 20px;
    position: fixed;
    right: 10px;
}
.item-navbar:hover{
    color:darkorange
}

.login{
    margin: 0;
    position: fixed;
    top: 25%;
    left: 25%;
    margin-right: -50%;
}

.colright{
    background-color:darkred;
    color: darkorange;
    height: 320px;
}
.titulo{
    font-size: 38px;
    color: darkorange;
    text-align: center;
}
.titulo2{
    font-size:32px;
    color: darkorange
}
.texto{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;

}
.texto-pp{
    top: 60%;
    margin-left: 30%;
    margin-right: 5%;
    position: fixed;

}
.titulo-texto{
    font-size: 18px;
    color: darkred;
    top: 50%;
    margin-left: 30%;
    margin-right: 5%;
    position: fixed;
}
.visualizar-texto{
    color: darkred;
    font-size: 18px;
}
.campo{
    margin-bottom: 30px;
}
.info-tabela{
    font-size: 18px;
    margin-top: 70px;
  
}

.campo input[type="email"], .campo input[type="password"], .campo input[type="text"], .campo input[type="date"],
.campo textarea, .campo select{
    padding: 6px 46px;
    border: 1px solid darkorange;
    border-radius: 16px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}
input[type=checkbox]{
    color: darkorange;
    margin-left: 30px;
    width: 20px;

}
.campo label{
    color: darkorange;
    font-size: 20px;
}
.link-registo{
    color: darkorange;
    margin-bottom: 10px;
}
.link-registo:hover{
    color: darkorange;
}
.botao{
    font-size: 20px;
    background: darkorange;
    border: 0px;
    border-radius: 16px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    color:#ffffff;
    padding: 4px 24px;
    position: absolute;
    top: 70%;
    Right: 10%;
    margin-left: -90%;

}
.botao1{
    font-size: 20px;
    background: darkorange;
    border: 0px;
    border-radius: 16px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    color:#ffffff;
    padding: 4px 24px;
    position: absolute;
    top: 90%;
    Right: 10%;
    margin-left: -90%;

}
.botao2{
    font-size: 20px;
    background: darkorange;
    border: 0px;
    border-radius: 16px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    color:#ffffff;
    padding: 4px 24px;
    position: absolute;
    top: 85%;
    Right: 10%;
    margin-left: -90%;

}
.botao1:hover{
    background: #ccbbff;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}
.botao2:hover{
    background: #ccbbff;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}
.botao1 select{
    cursor: pointer;
}
.botao2 select{
    cursor: pointer;
}
.botao:hover{
    background: #ccbbff;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}
.botao select{
    cursor: pointer;
}
.botao-visualizar{
    font-size: 12px;
    border: 0px;
    border-radius: 16px;
    color:darkorange;
    background-color: darkred ;
    padding: 4px 24px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}
.botao-visualizar:hover{
    background: #ccbbff;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.my-footer{
    background-color: gray;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #870B5A;
    text-align: center;
}
.my-card{
    position: fixed;
    margin-top: 70px;
    width: 80%;
    height: 85%;
}
.my-card2{
    position: fixed;
    margin-top: 70px;
    width: 80%;
    height: 60%;
}
.imagem{
    position: fixed;
    margin-top: 70px;
    margin-left: 10px;
    width: 40%;
    height: 40%;

}
.table-responsive {
    margin: 30px 0;
    border: 2px solid darkred;
    border-radius: 2px;
}
.table-title {
    color:#870B5A;
    padding: 16px 30px;
    min-width: 100%;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}
.table-title  span {
    float: left;
    margin-top: 2px;
}
table.table tr th, table.table tr td {
    border-color: darkred;
    padding: 12px 15px;
    vertical-align: middle;
}
table.table tr th:first-child {
    width: 60px;
}
table.table tr th:last-child {
    width: 100px;
}
table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
table.table td:last-child i {
    font-size: 22px;
    margin: 0 5px;
}
table.table td a {
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    outline: none !important;
}
.edit{

    justify-content: flex-end;
}
.delete{
    justify-content: flex-end;
}
table.table td a.edit {
    color: darkorange;
}
table.table td a.delete {
    color: darkred;
}
table.table td a.confirmar{
    color:green
}
.confirmar:hover{
    color:green
}
table.table td i {
    font-size: 19px;
}
.item-tabela {
    color: #870B5A;
}
.botao-tabela{
    width: 135px;
}
.pagination p{
    color:darkorange;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color .3s;
    position: static;
}
.pagination p:hover:not(.active){
    background-color:darkred;
    color: darkorange;

}
.pagination p:hover{
    color: darkorange;
    background-color: darkred;
}
.pagination li.active p.active{
    background-color: darkred;
    color:darkorange;
}

input[type="checkbox"]:checked + label {
    color: #870B5A;
}

.icones{
    color: green;
    height: 20px;
}
.icone-add{
    color: white;
}
.icone-redirect{
    color: darkorange;
    font-size: 28px;
    margin-left: 20px;
    margin-top: 10px;
    position: fixed;
}
.cabecalho-prova{
    font-size: 18px;
    margin-top: 70px;
    width: 900px;
}
.titulo-prova{
    margin-left: 20px;
}
.info-icone{
    color: #870B5A;
    position: absolute;
    right: 10px;
    margin-top: 15px;
    width: 100px;
}
.imagem-pp{
    margin-top: 100px;
    left:5px
}
.menu-pp{
    bottom:70%;
    Right: 30%;
    position: fixed;
    border: 0px;
    border-radius: 16px;
    padding: 8px 36px;
    margin-left: -90%;
    background-color:gray;
    color: white
}
.menu-pp1{
    bottom:70%;
    right: 20%;
    position: fixed;
    border: 0px;
    border-radius: 16px;
    padding: 8px 36px;
    margin-left: -90%;
    background-color:#870B5A;
    color: white
}
.menu-pp2{
    bottom:70%;
    right: 40%;
    position: fixed;
    border: 0px;
    border-radius: 16px;
    padding: 8px 36px;
    margin-left: -90%;
    background-color:darkorange;
    color: white
}

.dropdown-item:hover {
      background-color:darkorange;

}
.ab{
    color: darkred;
}
.pesquisa{
    padding: 4px 42px;
    border-radius: 16px;
    border-color: darkred;
}